/* TuArchivoDeEstilos.css o en tu archivo de estilos de Bootstrap */
.curso-item {
  transition: transform 0.2s ease-in-out; /* Animación suave al pasar el mouse */

  /* Personaliza más el estilo aquí según tus preferencias */
}
.fondo {
  background-image: url("src/img/informatica.jpg");
  background-size: cover;
  /* Aplicar opacidad al fondo */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* El último valor (0.5) controla la opacidad, donde 0 es completamente transparente y 1 es completamente opaco */
}
.text-logo {
  font-family: "Phudu", cursive;
}
body {
  background: #222;
}
.shad {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Sombra suave */
}
.vh-50 {
  height: 50vh;
}
.text {
  font-family: "Bebas Neue", sans-serif;
}
/* Cambiar el estilo al pasar el mouse */
.curso-item:hover {
  transform: scale(
    1.05
  ); /* Hace que el elemento sea ligeramente más grande al pasar el mouse */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra al pasar el mouse */
}
